.popup {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    visibility: hidden;
    /*opacity: 0;
    transition: opacity .5s visibility .5s;
    /*Если ставлю opacity:0 - то картинка в фулскрине не открывается вообще
     и приходится обновлять страницу, ничего не понимаю :(
    и вообще как-то заторможенно всё начинает происходить с transition, вроде и свйоства менял, не понимаю как лучше*/
}