.popup__info {
    border: none;
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding-bottom: 13px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
}

.popup__info:last-of-type {
    padding-top: 30px;
}