.profile {
    margin-top: 38.25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 880px) {
    .profile {
        padding-left: 18px;
        padding-right: 18px;
        flex-direction: column;
    }
}