.profile__avatar {
    max-width: 120px;
    object-fit: cover;
    object-position: center;
    margin-right: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 880px) {
    .profile__avatar {
        margin-top: 0;
        margin-bottom: 22.25px;
        margin-left: 26px;
    }
}