.cards__button_like {
    background-image: url(../../../../images/like.svg);
    background-repeat: no-repeat;
    background-color: Transparent;
    width: 22px;
    height: 19px;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    border: none;
}